<% unless @inactive_employees.empty? %>
<% if logged_in? && current_user.role?(:admin) %>
  <div class="panel callout radius">
  
    <h3>Inactive Employees</h3>
    <ul>
      <% @inactive_employees.each do |employee| %>
        <li><%= link_to employee.name, employee_path(employee) %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if logged_in? && current_user.role?(:manager) %>
  <div class="panel callout radius">
  
  <h3>Inactive Employees for your store</h3>
  <% if !@st_inactive_employees.nil? %>
    <ul>
      <% @st_inactive_employees.each do |employee| %>
        <li><%= link_to employee.name, employee_path(employee) %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <% end %>
<% end %>