/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require normalize
 *= require font-awesome.min
 *= require simple_form
 *= require datepicker
 *= require_self
 */
.ui-datepicker-next span {
margin-left: -25px !important;
}

.ui-icon {
  text-indent: 0px !important;
}
 .tl_name {
  width: 225px;
  display: block;
  position: absolute;
}

.tl_date {
  width: 65px;
  display: block;
  position: absolute;
  margin-left: 250px;
}

.tl_controls {
  width:  68px;
  display: block;
  margin-left: 330px;
}

.project_item {
  background-color: #d1ecfb;
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid blue;
  margin-top: 5px;
  margin-bottom: 10px;
}

.supertiny {
  font-size:5px;
  text-decoration:none;
}

.add_link {
  font-size:75%;
  font-style: normal;
  font-weight: normal;
}

#title_area {
  background-color: #ffffff;
}

#main_content {
  margin-top: 10px;
}

#footer {
  background-color:#cc6600;
  color: black;
  text-align: center;
}
footer {
  background-color:#cc6600;
}
#footer a {
  color: white;
  text-decoration: none;
}

#footer a:hover {
  color: #339999;
  text-decoration: underline;
}

#copy {
  font-size: 85%;
}

table {
  border-collapse:collapse;
}

table th.centered, table td.centered {
    text-align: center;
}

.note {
  font-style: italic;
  font-size: 80%;
}
li.well {
  list-style-type: none;
  margin-left: -10px;
}

.pagination ul > li > a, .pagination ul > li > span {
  border-left-width: 1px;
}

label {
  padding-right: 4px;
}

h2 {
  font-style: italic
}
.whitefont {
  color: white;
}
.bgcolor1 {
  background: #cc6600;
}
#home {
  background-image: image-url("peachice.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: 0px;
  margin-top: -5px;
}
#home1 {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: 0px;
}

h7 {
  font-size: 3em;
}

.spad {
  padding: 5px;
}

.ept {
  font-size: 8pt;
}